<!DOCTYPE html>
<html>
  <head>
    <title>Music App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
    <%= stylesheet_link_tag "application" %>
    <%= stylesheet_link_tag "custom" %>
  </head>

  <body>

    <nav>
        <h1>Music App</h1>

        <% if logged_in? %>
            <form action="<%= session_url %>" method="POST">
                <input type="hidden" name="_method" value="DELETE">
                <input type="submit" value="Log Out!" class="button-1">
            </form>
        <% else %>
            <div class="login-buttons">
                <form action="<%= new_user_url %>" method="GET">
                    <input type="submit" value="Sign Up!" class="button-1">
                </form>
                <form action="<%= new_session_url %>" method="GET">
                    <input type="submit" value="Log In" class="button-1">
                </form>
            </div>
        <% end %>

    </nav>

    <% if flash[:errors] %>
        <% flash[:errors].each do |error| %>
            <p><%= error %></p>
        <% end %>
    <% end %>

    <% if flash[:messages] %>
        <% flash[:messages].each do |message| %>
            <p><%= message %></p>
        <% end %>
    <% end %>

    <%= yield %>
  </body>
</html>
