<!DOCTYPE html>
<html>
  <head>
    <title>Music App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
    <%= stylesheet_link_tag "application" %>
    <%= stylesheet_link_tag "custom" %>
  </head>

  <body>
    <h1>Music App</h1>

    <%= yield %>
  </body>
</html>
